<a href="https://colab.research.google.com/github/Rafael-svj/Arafael/blob/main/copy_of_untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/Rafael-svj/Arafael/main/student_data.csv')

In [ ]:
print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

In [ ]:
print(df.shape)

(395, 33)

In [ ]:
print(df.dtypes)

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [ ]:
print(df.isnull().sum())

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [ ]:
df = df.drop_duplicates()

In [ ]:
print(df.shape)

(395, 33)

In [ ]:
df['traveltime'] = df['traveltime'].astype(int)

In [ ]:
df['studytime'] = df['studytime'].astype(int)

In [ ]:
df['freetime'] = df['freetime'].astype(int)

In [ ]:
df['school'] = df['school'].astype('category')

In [ ]:
print(df.dtypes)

school        category
sex             object
age              int64
address         object
famsize         object
Pstatus         object
Medu             int64
Fedu             int64
Mjob            object
Fjob            object
reason          object
guardian        object
traveltime       int64
studytime        int64
failures         int64
schoolsup       object
famsup          object
paid            object
activities      object
nursery         object
higher          object
internet        object
romantic        object
famrel           int64
freetime         int64
goout            int64
Dalc             int64
Walc             int64
health           int64
absences         int64
G1               int64
G2               int64
G3               int64
dtype: object

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
df[['traveltime', 'studytime', 'freetime']] = scaler.fit_transform(df[['traveltime', 'studytime', 'freetime']])

In [ ]:
print(df[['traveltime', 'studytime', 'freetime']].head())

   traveltime  studytime  freetime
0    0.333333   0.333333      0.50
1    0.000000   0.333333      0.50
2    0.000000   0.333333      0.50
3    0.000000   0.666667      0.25
4    0.000000   0.333333      0.50

In [ ]:
df = df[df['traveltime'] <= 10000]

In [ ]:
print(df.shape)

(395, 33)